/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media all and (min-width: 481px) {
	
    /* GLOBAL STYLES */

    .side-2:after {
	    content: "";
	    display: block;
	    clear: both;
    }

    /* GLOBAL FORMS */
    .captcha-box > div {
        margin-left: 0;
    }
    /* NOTIFICATIONS & POPUPS */

    .eu-cookie-bar-notification {
        width: 450px;
        max-width: 95%;
        margin-left: -225px;
    }

    /* HEADER */
    .responsive-nav-wrapper{
        margin: 10px 0;
    }
    .header-links-wrapper {
        width: 215px;
    }
    .personal-button {
        position: relative;
    }
    /* HEADER MENU */
    /* FOOTER */

    /* LEFT/RIGHT COLUMN */

    .block {
	    float: left;
	    width: 48%;
        border-bottom: 0;
	    margin: 0 1% 2%;
	    text-align: right;
    }
    .block:nth-of-type(2n+1) {
	    clear: both;
    }
    .block-account-navigation {
        width: 100%;
    }
    .block .poll-options li,
    .block .poll-results li {
		display: block;
	}
	.block .poll .buttons,
    .block .poll-total-votes {
	    text-align: left;
    }

    /* CATEGORY PAGE & GRIDS */


    .category-grid .item-box,
    .item-box {
		width: 49%;
		margin-right: 2%;
	}
	.item-box:nth-child(2n+1) {
		clear: both;
		margin-right: 0;
	}
	.category-grid .item-box:nth-child(2n) {
		margin-right: 2%;
	}
	.two-per-row .product-grid .item-box {
		width: 49%;
	}
	.two-per-row .product-grid .item-box:nth-of-type(2n) {
		margin-right: 2%;
	}
	.product-review-links span + a {
		display: inline-block;
		margin-right: 2%;
	}
	.attribute-item:after {
		content: '';
		display: block;
		clear: both;
	}
	.attribute-label,
    .attributes .attr-label {
		float: right;
	}
	.attribute-data,
    .attributes .attr-value {
		float: left;
	}
	.attribute-data,
    .rental-attributes .datepicker {
		border: 0;
		width: 50%;
		max-width: 50%;
		text-align: right;
	}
	.attributes .attr-label {
		padding: 19px 15px 15px 0;
		width: 50%;
	}
	.attributes .attr-label label {
		line-height: 32px;
	}
	.attributes .attr-value {
		display: inline-block;
		padding: 15px 0;
		border: 0;
		width: 50%;
	}
	.attributes .qty-box {
		margin-top: 0;
	}
	.overview-buttons .add-to-wishlist,
    .overview-buttons .add-to-cart {
		display: inline-block;
		width: 49.8%;
		width: -webkit-calc(100%/2 - 2px);
		width: calc(100%/2 - 2px);
		vertical-align: top;
	}
	.overview-buttons .add-to-cart {
		margin-right: 4px;
	}
    /* REVIEW PAGE */
    /* WISHLIST & COMPARE LIST */
    /* TOPICS */
	.enter-password-form input[type="password"] {
		width: 300px !important;
	}
    /* CONTACT PAGE & EMAILaFRIEND */
    /* REGISTRATION, LOGIN, MY ACCOUNT */
	.request-item .title,
    .address-list-page .title,
    .order-list-page .title {
		padding: 19px;
	}
	.request-item .details label {
		width: auto;
		min-width: 170px;
	}
	.request-item .details span,
    .request-item .details a,
    .request-item .details div {
        width: auto;
    }
    .address-list .buttons, .order-list .buttons {
        top: 12px; 
        left: 12px;
    }
    /* SHOPPING CART & CHECKOUT */

    .order-progress a {
        height: auto;
        text-transform: uppercase;
        font-weight: bold;
	    font-size: 13px; /*reset zeroing*/
        color: #444;
    }
    .order-progress a:before {
        position: static;
        display: block;
        margin: 5px 0;
        height: 35px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .shipment-details-area,
    .order-review-data,
    .order-details-area {
		display: table;
		width: 100%;
		margin: 0 0 30px;
	}
	.cart-collaterals .buttons .estimate-shipping-button {
		width: auto;
	}
	.shipment-details-area > div,
    .order-review-data > div,
    .order-details-area > div {
		display: table-cell;
		width: 50%;
		border: 0;
	}
    /* SEARCH PAGE & SITEMAP */
    /* BLOG & NEWS */
    /* FORUM & PROFILE */
    .forum-search-box-text,
    .forum-search-text {
	    width: 350px;
    }
}
